body {
    font-family: sans-serif;
    margin: 0 auto;
  }
  
  #app {
    margin: 0 auto;
    margin-top: 150px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
  }
  
  .input::placeholder {
    font-style: italic;
  }
  
  .result {
    margin: 25px 0 0 0;
    font-size: 20px;
    color: red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card-image {
    height: 150px;
    width: 150px;
    margin: 0 75px;

  }
  p {
    text-align: center;
  }